# variables

-memory location inside RAM which stores values/data
-changeable

In [2]:
a=78
print(a)

78

In [3]:
a_bc=90
print(a_bc)

90

In [7]:
a=6
print(a)
print(a%2)
print(a*4)
print(a+6)
print(a/3)

6
0
24
12
2.0

In [14]:
a=10
b=80
c=90
print(a+b+c)
print(b+c)
print(a+b)
print(b+c)
print(b-c)
print(c-b)
print(c*a)

180
170
90
170
-10
10
900

In [19]:
12abc=87
print(12abc)
@87a=45
print(@87a)

SyntaxError: invalid syntax (2069683705.py, line 1)

-we can't start with numbers but can start with underscore,alphabet
-case sensitive means differentiate depending upon lower case and upper case

In [21]:
a=90
print(a)
a=120
print(a)
a=87
print(a)
a=45
print(a)
A=65
print(A)

90
120
87
45
65

-reserved words can't be used

In [23]:
True=54
print(True)

SyntaxError: cannot assign to True (1998670680.py, line 1)

In [24]:
true=87
print(true)

87

In [26]:
k=10
print(k%2)

0

# Keywords

-normal word but special function
-meaning stored in the python interpreter
-can't use as variable

In [28]:
if=98
print(if)

SyntaxError: invalid syntax (3115388005.py, line 1)

In [32]:
IF=56
print(IF)

While=10
print(While)

true=45
print(true)

True=36
print(True)

SyntaxError: cannot assign to True (3164589099.py, line 10)

# Datatypes

-int

In [34]:
a=10
print(type(a))

b=-45
print(type(b))

m=98.98
print(type(m))

#decimal to binary
print(bin(7))

#oct to bin
print(bin(87))

#hexadecimal to bin
print(bin(1768))

#bin to oct
print(oct(111110000))

#decimal to hexadecimal
print(hex(1245))

<class 'int'>
<class 'int'>
<class 'float'>
0b111
0b1010111
0b11011101000
0o647663560
0x4dd

-float

In [26]:
per=70.89
print(type(per))
print(per)

abc_=345.76
print(type(abc_))

sal=4.56e4
print(sal)

k=123_456_567.877898
print(k)

x=0b11.1001
print(x)

SyntaxError: invalid syntax (3027331403.py, line 14)

-complex

-having two part
-real and imaginary

In [38]:
a=10+56j
print(type(a))

d=34+46J
print(d)
print(type(d))

a=45.85+56j
print(a)

b=34.870+756.674j
print(b)

d=0o47+87j
print(d)

a=468+0o46j
print(a)

SyntaxError: invalid syntax (3957585051.py, line 17)

In [46]:
#add
a=10+20j
b=20+30j
c=a+b
print(c)
print(type(c))

#sub
a=30+20j
b=10+10j
c=a-b
print(c)
print(type(c))

#mul
a=10+20j
b=20+30j
c=a*b
print(c)
print(type(c))

#print real and imaginary part
a=20+30j
print(a.real)
print(a.imag)

(30+50j)
<class 'complex'>
(20+10j)
<class 'complex'>
(-400+700j)
<class 'complex'>
20.0
30.0

In [47]:
a=10+30k
print(a)

SyntaxError: invalid syntax (714435327.py, line 1)

In [51]:
a=10+20J
print(a)
print(type(a))

a=100j+200j
print(a)
print(type(a))

(10+20j)
<class 'complex'>
300j
<class 'complex'>

-bool

In [55]:
a=True
print(a)
print(type(a))

b=False
print(type(b))
print(b)

a=90
b=89
result=a>b
print(result)

True
<class 'bool'>
<class 'bool'>
False
True

In [56]:
a=true
print(a)

NameError: name 'true' is not defined

In [62]:
print(True+True+True+True+True)
print(True+False)
print(True+True+True+True-False)
print(False+False)
print(True*True*True)
print(True/True)

5
1
4
0
1
1.0

-string

In [71]:
a='tarun'
print(a)
print(type(a))

b="rahul"
print(type(b))

b='''Laxmi'''
print(b)
print(type(b))

a='hy i am "here"'
print(a)

b="'kamal' is my friend"
print(b)

tarun
<class 'str'>
<class 'str'>
Laxmi
<class 'str'>
hy i am "here"
'kamal' is my friend

In [70]:
c='i love 'india''
print(c)

SyntaxError: invalid syntax (2642678341.py, line 1)

-access using index

In [77]:
a='I love to eat biriyani'
print(a[7])
print(a[3])
print(a[4])
print(a[6])
print(a[-6])
print(a[-65])

t
o
v

r

IndexError: string index out of range

In [79]:
print(a[-5])
print(a[-22])

i
I

-access using slice operator

-[start index:stop index:step index]

In [108]:
print(a[0:23:1])
print(a[3:45:2])
print(a[::])
print(a[::2])
print(a[:1000:2])
print(a[1000:21:3])
print(a[::-1])
print(a[::-3])
print(a[-20:-19:-1])
print(a[7:16:-1])
print(a[200:3:-1])
print(a[-8::])
print(a[-1:-5:-1])
print(a[:-8:])
print(a[-4:-1:])
print(a[2:10])
print(a[0::])
print(a[::--1])
print(a[::+-1])
print(a[1:-12:])
print(a[-1:-20:])
print(a[True:-1:])
print(a[False:-1:])
print(a[True+3:8:1])
print(a[True+3:8:-1])
print(a[False+5:(True+True-1):-1])

I love to eat biriyani
oet a iiai
I love to eat biriyani
Ilv oetbryn
Ilv oetbryn

inayirib tae ot evol I
iyit  oI


inayirib tae ot ev
biriyani
inay
I love to eat
yan
love to
I love to eat biriyani
I love to eat biriyani
inayirib tae ot evol I
 love to

 love to eat biriyan
I love to eat biriyan
ve t

evol

# Typecasting

In [112]:
a=10
b=5
c=a/b
print(c)
print(type(c))

a=20
b=2
c=a*b
print(c)
print(type(c))

a=50
b=4
c=a+b
print(c)
print(type(c))

a=10
b=2
c=a**b
print(c)
print(type(c))

2.0
<class 'float'>
40
<class 'int'>
54
<class 'int'>
100
<class 'int'>

-other to int

In [115]:
a=int(453.87)
print(a)

b=int(234.76)
print(b)

a=int(100+56j)
print(a)

453
234

TypeError: can't convert complex to int

In [120]:
a=int(True)
print(a)

a=int(False)
print(a)

a=int(True+True-False)
print(a)

a=int('120')
print(a)

a=int('Rahul')
print(a)

1
0
2
120

ValueError: invalid literal for int() with base 10: 'Rahul'

In [121]:
a=int('234.54')
print(a)

ValueError: invalid literal for int() with base 10: '234.54'

In [122]:
a=int('ob111')
print(a)

ValueError: invalid literal for int() with base 10: 'ob111'

-other to float

In [124]:
a=float(123)
print(a)

a=float(234+45j)
print(a)

123.0

TypeError: can't convert complex to float

In [132]:
a=float(True)
print(a)

a=float(False)
print(a)

a=float(True+True)
print(a)

a=float(True+True+True+True-False-False)
print(a)

a=float('165')
print(a)

a=float('123.65')
print(a)

a=float('Hello')
print(a)

1.0
0.0
2.0
4.0
165.0
123.65

ValueError: could not convert string to float: 'Hello'

-other to complex

In [140]:
a=complex(10)
print(a)

a=complex(234)
print(a)

a=complex(34.756)
print(a)

a=complex(4587)
print(a)

a=complex(34.56+45j)
print(a)

a=complex(True)
print(a)

a=complex(False)
print(a)

a=complex(True+True)
print(a)

(10+0j)
(234+0j)
(34.756+0j)
(4587+0j)
(34.56+45j)
(1+0j)
0j
(2+0j)

In [144]:
a=complex(19,4)
print(a)

a=complex('356.76')
print(a)

a=complex(True,876)
print(a)

a=complex('Hello')
print(a)

(19+4j)
(356.76+0j)
(1+876j)

ValueError: complex() arg is a malformed string

-other to bool

In [158]:
a=bool(45)
print(a)

b=bool(0)
print(b)

a=bool(1)
print(a)

a=bool(445.87)
print(a)

a=bool(1.0)
print(a)

a=bool(0.0)
print(a)

a=bool(23+65j)
print(a)

a=bool(456+65j)
print(a)

a=bool('987')
print(a)

a=bool('hello')
print(a)

b=bool('')
print(b)

b=bool('True')
print(b)

True
False
True
True
True
False
True
True
True
True
False
True

-othet to str

In [171]:
a=str(16)
print(a)
print(type(a))

a=str(45)
print(a)

a=str(456.76)
print(a)

a=str(56.76)
print(a)

a=str(True)
print(a)

a=str(False)
print(a)

a=str('Hey')
print(a)
print(type(a))

16
<class 'str'>
45
456.76
56.76
True
False
Hey
<class 'str'>

# Bytes And ByteArray

In [11]:
#convert list to bytes
a=[10,20,30,40]
b=bytes(a)
print(b[0])
print(b[2])
print(b[4])

10
30

IndexError: index out of range

In [16]:
print(b[3])
print(b[-3])
print(b[-2])
print(b[-1])
print(b[-5])

40
20
30
40

IndexError: index out of range

In [22]:
#using loop
for i in a:
    print(i)

10
20
30
40
-50

In [25]:
a=[10,255,46,57,87]
b=bytes(a)
for i in b:
    print(i)
    
a=[10,444,36,48]
b=bytes(a)
for i in b:
    print(i)

10
255
46
57
87

ValueError: bytes must be in range(0, 256)

In [24]:
a=[10,20,30,40,-50]
b=bytes(a)
for i in b:
    print(i)

ValueError: bytes must be in range(0, 256)

In [27]:
a=[11,22,33,44]
b=bytes(a)
for i in b:
    print(i)
    
b[2]=66
for i in b:
    print(i) #can't modify the index value

11
22
33
44

TypeError: 'bytes' object does not support item assignment

-bytearray

In [ ]:
a=[10,20,30,40]
b=bytearray(a)
print(b[2])
print(b[3])

#modify the index value(any)
b[2]=67
for i in b:
    print(i)

# Range

In [35]:
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

-syntax
[start,stop,increment]

In [40]:
a=range(1,6)
for i in a:
    print(i)
    
b=range(1,21,4)    
for i in b:
    print(i)
    
a=range(60,70,5)   
for i in a:
    print(i)

1
2
3
4
5
1
5
9
13
17
60
65

In [44]:
a=range(10)
print(a[4])
print(a[6])
print(a[90])
print(a[10])

4
6

IndexError: range object index out of range

In [45]:
a=range(20)
a[16]=45
for i in a:
    print(i)

TypeError: 'range' object does not support item assignment

# Operators

## arithmetic operators

In [56]:
a=400
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

x=567
y=6
print(x/y)
print(x//y)

m=23.56
n=2
print(m/n)
print(m//n)

402
398
800
200.0
0
160000
200
94.5
94
11.78
11.0

In [68]:
k='Rose'
print(k+18)

TypeError: can only concatenate str (not "int") to str

In [69]:
print(k-67)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [71]:
print(k+94.76)

TypeError: can only concatenate str (not "float") to str

In [72]:
print(k+'89')
print(k*5)

Rose89
RoseRoseRoseRoseRose

In [76]:
x,b,c,d,e,f,g,h,i,j=1,2,3,4,5,6,77,8,9,30
result=(x+b+j)//i*d+f%c/d*(b-x)//e+g//c
print(result)

37.0

## assignment operator

In [78]:
a=b=c=675
print(a)
print(b)
print(c)

a,b,c,d=10,20,30,40
print(a,b,c,d)

675
675
675
10 20 30 40

In [88]:
#shorthand operator
a=356
a+=12
print(a)

b=100
b-=6
print(b)

c=10
c*=6
print(c)
c/=2
print(c)
c%=3
print(c)
c**=4
print(c)

368
94
60
30.0
0.0
0.0

In [98]:
x=4567
x//=6
print(x)
s=3
t=5
s%=t
print(s)

761
3

## Relational operator

In [105]:
a=34
b=45
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [122]:
a='ccc'
b='ddd'
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

x='Laxmipriya'
y='Laxmipriya'
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
True
False
False
False
True
True

In [126]:
print(True>True)
print(False>False)
print(True>False)
print(False>True)
print(11>22>33>44)
print(11<22<33<44)
print("Laxmi"=="Laxmi")
print("Laxmi"=='laxmi')
print(234=='Laxmi')

False
False
True
False
False
True
True
False
False

In [123]:
print(100>'my')

TypeError: '>' not supported between instances of 'int' and 'str'

## Logical operator

In [136]:
#boolean type
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or False)
print(False or True)
print(not True)
print(not False)

True
False
False
False
True
True
False
True
False
True

In [1]:
#nonboolean type
print(10 and 15)
print(0 and 15)
print(10 or 15)
print(0 or 16)
print(not 36)
print(not 6)
print(not 0)
print(not 1)
print(not'Laxmi')
print(not ' ')
print('Apple' and 'coffee')
print('Apple' or 'coffe')

15
0
10
16
False
False
True
False
False
False
coffee
Apple

## Unary minus operator

In [152]:
num=578
print(num)
print(-num)
num1=-468
print(num1)
print(-num1)

578
-578
-468
468

## special operator

-identity operator compare the address 
-is ,is not

In [159]:
a=160
b=160
print(a is b)
print(id(a))
print(id(b))

True
1521821375824
1521821375824

In [163]:
a=4675
b=3564
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

False
True
1521938177008
1521938177392

In [167]:
a='laxmi'
b='laxmi'
print(a is b)
print(a is not b)

x=True
y=True
print(x is y)
print(x is not y)

True
False
True
False

-membership operator check the sequence of object
-in ,not in

In [175]:
a='My name is Divi'
print('D' in a)
print('name' in a)
print('u' in a)
print('s' in a)
print('m' not in a)
print('z' not in a)
print(' ' not in a)
print(' ' in a)

True
True
False
True
False
True
False
True

In [181]:
l=['kajal','shiva','rahul','kavita']
print('Kajal' in l)
print('kajal' in l)
print('rahul' not in l)
print('tom' not in l)
print('jerry' not in l)
print('laxmi' in l)

False
True
False
True
True
False

## Dynamic input

In [4]:
a=input('Enter ur number')
b=input('Enter ur number')
c=a+b
print(c)
print(type(c))

Enter ur number45
Enter ur number45
4545
<class 'str'>

In [5]:
a=int(input('Enter ur number'))
b=int(input('Enter ur number'))
c=a+b
print(c)
print(type(c))

Enter ur number30
Enter ur number30
60
<class 'int'>

In [6]:
a=input('Enter ur name')
print(a)
print(type(a))

Enter ur namelaxmi
laxmi
<class 'str'>

# Conditional statement

-There are three type of conditional statement.
-if
-if-else
-if-elif-else

In [10]:
#number is +ve or -ve
a=int(input('Input a number here'))
if a==0:
    print('Entered number is zero')
elif a>0:
    print('Entered number is positive')
else:
    print('Entered number is negative')

Input a number here0
Entered number is zero

# Looping

-There are two types of loops in python
1.while loop
2.for loop

## While loop

-there things that required
start,stop,step
-syntax
while condition:
     bodypart

In [1]:
i=1
while i<=10:
        print("Laxmi")
        i=i+1
        
        
a=1
result=0
while a<=10:
    result=result+a
    a=a+1
print(result)

Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
Laxmi
55

### break statement

In [2]:
i=1
while i<=10:
    if i==5:
        break
    print(i)
    i=i+1

1
2
3
4

### while with else block

In [2]:
i=1
while i<=10:
    print(i)
    i=i+1
else:
    print('This is else block')

1
2
3
4
5
6
7
8
9
10
This is else block

## for loop

In [4]:
for i in range(10):
    print('Laxmipriya')

Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya
Laxmipriya

In [8]:
for i in range(100,121,2):
    if(i%2==0):
        print(i)
        
        
        
name='Laxmipriya'
for a in name:
    print(a)

100
102
104
106
108
110
112
114
116
118
120
L
a
x
m
i
p
r
i
y
a

### nested for loop

In [9]:
for i in range(5):
    for j in range(5):
        print("i={} j={}".format(i,j))

i=0 j=0
i=0 j=1
i=0 j=2
i=0 j=3
i=0 j=4
i=1 j=0
i=1 j=1
i=1 j=2
i=1 j=3
i=1 j=4
i=2 j=0
i=2 j=1
i=2 j=2
i=2 j=3
i=2 j=4
i=3 j=0
i=3 j=1
i=3 j=2
i=3 j=3
i=3 j=4
i=4 j=0
i=4 j=1
i=4 j=2
i=4 j=3
i=4 j=4

### continue statement

In [2]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

### pass statement

In [4]:
for i in range(10):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

# del and None

In [12]:
#del
a=[10,20,30,40,50]
print(a)
del(a[2])
print(a)
del(a[3])
print(a)
del(a)
print(a)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[10, 20, 40]

NameError: name 'a' is not defined

In [8]:
num=34
print(num)
del(num)
print(num)

34

NameError: name 'num' is not defined

In [10]:
name="laxmipriya"
print(name)
del(name[4])
print(num)

laxmipriya

TypeError: 'str' object doesn't support item deletion

In [11]:
del(name)
print(name)

NameError: name 'name' is not defined

In [15]:
#None
name1="Laxmi"
print(name1)
name1=None
print(name1)
name1="Sudha"
print(name1)

Laxmi
None
Sudha

## Enumerate function

In [17]:
l=[10,20,30,40,50]
for i,j in enumerate(l):
    print(i,",",j)
#it will going to print value with index number

0 , 10
1 , 20
2 , 30
3 , 40
4 , 50

# List

In [29]:
a=[10,20,30,40,50,60]
b=[10,20,30,40]
c=[20,30,10,40]
print(a==b)
print(a!=b)
print(a==c)
print(b==c)
print(b!=c)
print(a!=c)
print(a<b)
print(a>c)
print(a>=b)
print(b<=c)

False
True
False
False
True
True
False
False
True
True

In [40]:
#Nested list
l=[10,20,30,[11,22,33,44],40,50]
print(l)
print(l[2])
print(l[3])
print(l[3][1])
print(l[3][3])
print(l[-3])
print(l[-3][-2])
print(l[-3][-4])

[10, 20, 30, [11, 22, 33, 44], 40, 50]
30
[11, 22, 33, 44]
22
44
[11, 22, 33, 44]
33
11

In [47]:
a=[10,20,[11,22,[111,222,333,444],33,44],30,40]
print(a)
print(a[2])
print(a[2][2])
print(a[2][2][3])
print(a[-3])
print(a[-3][-3])
print(a[-3][-3][-3])

[10, 20, [11, 22, [111, 222, 333, 444], 33, 44], 30, 40]
[11, 22, [111, 222, 333, 444], 33, 44]
[111, 222, 333, 444]
444
[11, 22, [111, 222, 333, 444], 33, 44]
[111, 222, 333, 444]
222

In [54]:
l=[
    [10,20,30,40],
    [50,60,70,80],
    [90,110,120,130]
]
print(l)
print(l[2])
print(l[1])
print(l[0])
for i in l:
    print(i)

[[10, 20, 30, 40], [50, 60, 70, 80], [90, 110, 120, 130]]
[90, 110, 120, 130]
[50, 60, 70, 80]
[10, 20, 30, 40]
[10, 20, 30, 40]
[50, 60, 70, 80]
[90, 110, 120, 130]

In [55]:
#reverse the list
l.reverse()
print(l)

[[90, 110, 120, 130], [50, 60, 70, 80], [10, 20, 30, 40]]

In [56]:
a=[10,20,30,[11,22,33,44],40,50]
a.reverse()
print(a)

[50, 40, [11, 22, 33, 44], 30, 20, 10]

In [57]:
#list comprehension
l=[i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
l=[i*i for i in range(21)]
print(l)

l=[i*i*i for i in range(21)]
print(l)

l=[i**i for i in range(10)]
print(l)

l=[i+i for i in range(21)]
print(l)

l=[i-i for i in range(21)]
print(l)

l=[i for i in range(11) if i%2==0]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]
[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 2, 4, 6, 8, 10]

In [5]:
names=['Rahul','Lucky','Divya','Harsh']
l=[i[0] for i in names]
print(l)

['R', 'L', 'D', 'H']

In [7]:
name1=["Rahul","Lucky","Divya","Harsh"]
n=[i for i in name1 if i!='Divya' in name1]
print(n)



m=(10,20,30,40,50)
l1=[i for i in m]
print(l1)

k=[[j for j in range(5)] for i in range(5)]
print(k)

['Rahul', 'Lucky', 'Harsh']
[10, 20, 30, 40, 50]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [9]:
#append() -joint at the end
l=[10,20,30]
print(l)
l.append(40)
print(l)

[10, 20, 30]
[10, 20, 30, 40]

In [25]:
l=[]
for i in range(10):
    l.append(0)  
    
print(l)    

#insert() -add element at specific position
n=[10,20,30,40]
print(n)
n.insert(3,999)
print(n)
n.insert(22,567)
print(n)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[10, 20, 30, 40]
[10, 20, 30, 999, 40]
[10, 20, 30, 999, 40, 567]

In [38]:
#count()  the no of element present 
a=[11,22,33,44,55,11,22,444]
print(a)
print(a.count(11))
print(a.count(22))
print(a.count(33))

#index() give the index number
print(a.index(22))
print(a.index(444))

#remove() remove specific value
print(a.remove(11))
print(a)

#pop() pop the last value,if index given the pop that value
a.pop()
print(a)
a.pop(5)
print(a)

[11, 22, 33, 44, 55, 11, 22, 444]
2
2
1
1
7
None
[22, 33, 44, 55, 11, 22, 444]
[22, 33, 44, 55, 11, 22]
[22, 33, 44, 55, 11]

In [43]:
#extend() adding all the ele of a list to another list
s=[10,20,30]
p=[34,46,56]
s.extend(p)
print(s)

#reverse() reverse the list
a=[10,20,30]
a.reverse()
print(a)

#sort() -arrenge in ascending or decending order
a=[1,5,6,3,4,29,8]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

#clear() clear means not delete just empty the list
a.clear()
print(a)

[10, 20, 30, 34, 46, 56]
[30, 20, 10]
[1, 3, 4, 5, 6, 8, 29]
[29, 8, 6, 5, 4, 3, 1]
[]

In [52]:
#copy() copy-differenrt assign=same copy()-shallow copy (any modift in original donit affect to copy list)
b=[10,20,30,40,50] 
c=b.copy()
print(b)
print(c)

print(id(b))
print(id(c))

c[2]=345
print(b)
print(c)

c=b
print(b)
print(c)
b[1]=100
print(b)
print(c)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
2108280485376
2108309390784
[10, 20, 30, 40, 50]
[10, 20, 345, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 100, 30, 40, 50]
[10, 100, 30, 40, 50]

# Tuple

In [62]:
t=()
print(t)
print(type(t))

t=(10,20,300,'laxmi',356.987)
print(t)
print(type(t))

t=10,20,'laxmi'
print(t)
print(type(t))

l=[10,20,30,40]
t=tuple(l)
print(t)
print(t[0])
print(t[3])
print(t[::])
print(t[::2])
print(t[:2])
t[2]=456
print(t)

()
<class 'tuple'>
(10, 20, 300, 'laxmi', 356.987)
<class 'tuple'>
(10, 20, 'laxmi')
<class 'tuple'>
(10, 20, 30, 40)
10
40
(10, 20, 30, 40)
(10, 30)
(10, 20)

TypeError: 'tuple' object does not support item assignment

In [3]:
#concatenation()
a=(10,2,30,40)
b=(11,22,33)
s=a+b
print(s)

#repetition()
k=s*2
print(k)


#traversing()  using for loop()
l=(11,22,33,44,55)
for i in l:
    print(i)
    
#using while loop()
i=0
while i<len(l):
    print(l[i])
    
    i=i+1

(10, 2, 30, 40, 11, 22, 33)
(10, 2, 30, 40, 11, 22, 33, 10, 2, 30, 40, 11, 22, 33)
11
22
33
44
55
11
22
33
44
55

In [10]:
#index()
t=(10,20,30,40,10,20)
print(t.index(20))

#count()
print(t.count(20))

#len()
print(len(t))

#min() and max()
print(min(t))
print(max(t))

#sorted()
a=(1,5,7,2,3)
b=sorted(a)
print(b)
b=sorted(a,reverse=True)
print(b)

1
2
6
10
40
[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]

In [13]:
#packing and unpacking()
a=10
b=20
c=30
t=a,b,c
print(t)

k=(999,888,77)
a,b,c=k
print(a,b,c)

(10, 20, 30)
999 888 77

In [1]:
def fun():
    l=[10,20,30,40,50,60]
    return(l[0],l[3],l[4])
t=fun()
print(t)
print(type(t))

(10, 40, 50)
<class 'tuple'>

In [5]:
t=(10,20,30,('laxmi','harsh'),40,('mama','rashi'),50,56.98)
print(t[0])
print(t[3])
print(t[5])
print(t[3][1])

10
('laxmi', 'harsh')
('mama', 'rashi')
harsh

In [6]:
t=(x for x in range(10))
print(t)

<generator object <genexpr> at 0x000001E45A1980B0>

In [7]:
t=tuple(x for x in range(10))
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# set

In [11]:
#Creation of set
s=set()
print(s)
print(type(s))

#creation of sets with multiple elements
s={1,2,3,4}
print(s)
print(type(s))

#creation of set from tuple
t=(11,22,33,44)
s=set(t)
print(s)
print(type(s))

#creation of set from range()
s=set(range(10))
print(s)
print(type(s))

#creation of set from string
s=set('Laxmipriya')
print(s)
print(type(s))

#creation of set from string using split()
name='Laxmi priya swain'
s=set(name.split())
print(s)
print(type(s))

s={10,20,30,40}
print(s[2])

set()
<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{33, 11, 44, 22}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
{'p', 'a', 'm', 'L', 'x', 'r', 'y', 'i'}
<class 'set'>
{'swain', 'Laxmi', 'priya'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [15]:
#applying membership operatorsin sets(in,not in)
s={10,20,30,40,50}
print(30 in s)
print(70 in s)
print(30 not in s)
print(40 in s)

True
False
False
True

## set methods

In [24]:
#add()
s={10,20,30,40,50,60}
s.add(999)
print(s)
s.add(111)
print(s)
s.add(222)
print(s)
s.add(10)
print(s)

#update()
s={1,2,3,4}
l=[5,6,7]
t=(8,9,10)
s.update(l,t,range(10,20))
print(s)

s1={111,222,333,444}
l1=[555,666,777,'Laxmi']
t1=('Riya','Priya',888)
s1.update(l1,t1,range(9,15))
print(s1)

#Remove() - if specific element is not present ,raise a key error
s={13,23,33,43,53}
s.remove(33)
print(s)
s.remove(10)
print(s)

{50, 20, 999, 40, 10, 60, 30}
{50, 20, 999, 40, 10, 60, 30, 111}
{10, 20, 222, 30, 999, 40, 111, 50, 60}
{10, 20, 222, 30, 999, 40, 111, 50, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{'Priya', 'Riya', 777, 9, 555, 10, 333, 11, 111, 12, 13, 'Laxmi', 14, 888, 666, 444, 222}
{53, 23, 43, 13}

KeyError: 10

In [32]:
#discard() -if specific element is not present then it will not raise any key error
s={10,20,30,40}
s.discard(30)
print(s)
s.discard(50)
print(s)

#pop() - remove any random element from set,if set empty then raise a key error
k={11,22,33,4,55}
k.pop()
print(k)
k.pop()
print(k)
k.pop()
print(k)
k.pop()
print(k)
k.pop()
print(k)
k.pop()
print(k)

{40, 10, 20}
{40, 10, 20}
{4, 22, 55, 11}
{22, 55, 11}
{55, 11}
{11}
set()

KeyError: 'pop from an empty set'

In [43]:
#copy() -shallow copy
s1={10,20,30,40,50}
s2=s1.copy()
print(s1)
print(s2)
print(id(s1))
print(id(s2))
s1.add(1111)
print(s1,s2)

#clear()
#-remove all the elements of the set
#-set not deleted,only elements get deleted
s={10,20,30,40}
print(s)
s.clear()
print(s)

#enumerate()
S={11,22,33,44,55}
for i in enumerate(S):
    print(i)
    
#max() and min()
s={10,20,30,40,50,60}
print(min(s))
print(max(s))

#sum()
s={11,22,33,44}
print(sum(s))

#sorted()
s={10,4,6,3,2,5,1}
print(sorted(s))
print(sorted(s,reverse=True))

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
1564681728736
1564680363584
{50, 20, 1111, 40, 10, 30} {50, 20, 40, 10, 30}
{40, 10, 20, 30}
set()
(0, 33)
(1, 22)
(2, 55)
(3, 11)
(4, 44)
10
60
110
[1, 2, 3, 4, 5, 6, 10]
[10, 6, 5, 4, 3, 2, 1]

In [59]:
#union() -a|b -all values of both set
a={10,20,30}
b={40,50,60}
print(a.union(b))
print(a|b)

#intersection -common element in both sets
a={10,20,30}
b={30,40,50}
print(a.intersection(b))
print(a&b)

#Difference -return all the element present in A ,not in B
a={111,222,333,444,555}
b={666,777,888}
print(a.difference(b))
print(a-b)
print(b.difference(a))
print(b-a)

#symmetric difference
#return all the element except the common element
a={10,20,30,40}
b={10,20,50,60}
print(a.symmetric_difference(b))
print(a^b)

#issubset() ,issuperset()
a={10,20,30,40}
b={10,20}
c={50,60}
print(b.issubset(a))
print(c.issubset(a))
print(a.issuperset(b))
print(c.issuperset(b))

#isdisjoint()
a={10,20,30}
b={40,50,60}
c={10,20}
print(a.isdisjoint(b))
print(a.isdisjoint(c))

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{30}
{30}
{555, 333, 111, 444, 222}
{555, 333, 111, 444, 222}
{888, 777, 666}
{888, 777, 666}
{40, 50, 60, 30}
{40, 50, 60, 30}
True
False
True
False
True
False

## set comprehension

In [7]:
#creation of set from list
l=[10,20,30,40,50]
s=set()
for i in l:
    s.add(i)
print(s)

#using set comprehension
s={i for i in l}
print(s)

#mul of the elements
l=[11,22,33,44]
s={i*i for i in l}
print(s)
s={i*2 for i in l}
print(s)
#add
s={i+10 for i in l}
print(s)

#with range
s={i for i in range(100,111)}
print(s)

{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{1089, 121, 484, 1936}
{88, 66, 44, 22}
{32, 43, 21, 54}
{100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110}

In [15]:
#create a set by adding all the element from 20 to 40 which are divisible by 4
s={i for i in range(20,41) if i%4==0}
print(s)

#create a set from the list names as"names"and also print the first letters from each element
names=['laxmi','sony','tina','bindu','akshu']
s={(i[0])for i in names}
print(s)
s={(i[0:4])for i in names}
print(s)

#create a set from a list ,add all element except 'laxmi' to be added as 'laxmipriya'
s={i if i!='laxmi' else 'laxmipriya' for i in names}
print(s)

{32, 36, 40, 20, 24, 28}
{'a', 's', 't', 'l', 'b'}
{'aksh', 'sony', 'tina', 'bind', 'laxm'}
{'bindu', 'sony', 'tina', 'laxmipriya', 'akshu'}